{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block displayArray %}
    {# {{ dump(events) }} #}
    <br /><br />
    <h4>{{ title }}</h4>

    <div class="container">
        <div class="row">
            <div class="col-1">Pastille</div>
            <div class="col-1">Id</div>
            <div class="col-2">Titre</div>
            <div class="col-3">Description</div>
            <div class="col-2"><a href="?sort=date">Début</a></div>
            <div class="col-2">Fin</div>
            <div class="col-1"><a href="?sort=price">Prix</a></div>
        </div>
        {% for event in events %}
            <div class="row">
                <div class="col-1">
                    {% if date(event.dateeventStart) <= date()and date(event.dateeventEnd) >= date() %}
                    En cours
                    {% elseif date(event.dateeventStart) < date() %}
                    Passé
                {% else %}
                    Futur
                {% endif %}
                </div>
                <div class="col-1">{{ event.idevent }}</div>
                <div class="col-2">
                    <a href="{{ path('show', {id: event.idevent}) }}">{{ event.name }}</a>
                </div>
                <div class="col-3">{{ event.description }}</div>
                <div class="col-2">{{ date(event.dateeventStart) | date('Y-m-d') }}</div>
                <div class="col-2">{{ date(event.dateeventEnd) | date('Y-m-d') }}</div>
                <div class="col-1">{{ event.price }}</div>
            </div>
        {% endfor %}
        <br />
        {# PAGINATION #}
        {# {{ dump(nopage) }} #}
        {# {{ dump(app.request) }} #}
        {# {{ dump(app.request.query.get('page')) }} #}
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm justify-content-center">
                {# PREVIOUS #}
                {% if nopage == 1 %}
                    <li class="page-item disabled">
                        <span class="page-link"><<</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ nopage - 1 }}"><<</a>
                    </li>
                {% endif %}
                {# PAGINATION #}
                {% for i in 1 .. countpageforpagination %}
                    {% if i == nopage %}
                        <li class="page-item active">
                            <span class="page-link bg-warning">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {# NEXT #}
                {% if nopage == countpageforpagination %}
                    <li class="page-item disabled">
                        <span class="page-link">>></span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ nopage + 1 }}">>></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
