{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block displayArray %}
    {{ dump(events) }}
    <br /><br />
    <h4>{{ title }}</h4>

    <div class="container">
        <div class="row">
            <div class="col-1">Pastille</div>
            <div class="col-1">Id</div>
            <div class="col-2">Titre</div>
            <div class="col-3">Description</div>
            <div class="col-2"><a href="?sort=date">Début</a></div>
            <div class="col-2">Fin</div>
            <div class="col-1"><a href="?sort=price">Prix</a></div>
        </div>
        {% for event in events %}
            <div class="row">
                <div class="col-1">
                    {% if date(event.dateeventStart) <= date()and date(event.dateeventEnd) >= date() %}
                    En cours
                    {% elseif date(event.dateeventStart) < date() %}
                    Passé
                {% else %}
                    Futur
                {% endif %}
                </div>
                <div class="col-1">{{ event.idevent }}</div>
                <div class="col-2">
                    <a href="{{ path('show', {id: event.idevent}) }}">{{ event.name }}</a>
                </div>
                <div class="col-3">{{ event.description }}</div>
                <div class="col-2">{{ date(event.dateeventStart) | date('Y-m-d') }}</div>
                <div class="col-2">{{ date(event.dateeventEnd) | date('Y-m-d') }}</div>
                <div class="col-1">{{ event.price }}</div>
            </div>
        {% endfor %}
        {# PAGINATION #}
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            {# <li class="page-item"><a class="page-link" href="#">Previous</a></li> #}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            {# <li class="page-item"><a class="page-link" href="#">Next</a></li> #}
        </ul>
        </nav>
    </div>
{% endblock %}
